<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body id="secondpage">
        <div class = "pictures">
            <div class = "container picture pic1">
                <div class="overlay overlayUp">
                    <div class="text">Brasov</div>
                </div>
            </div>
            <div class = "container picture pic2">
                <div class="overlay overlayUp">
                    <div class="text">Liceul George Cosbuc</div>
                </div>
            </div>
            <div class = "container picture pic3">
                <div class="overlay overlayUp">
                    <div class="text">Microrezervatie, Constanta</div>
                </div>
            </div>
            <div class = "container picture pic4">
                <div class="overlay overlayUp">
                    <div class="text">Mamaia</div>
                </div>
            </div>
            <div class = "container picture pic5">
                <div class="overlay overlayUp">
                    <div class="text">Microrezervatie, Constanta</div>
                </div>
            </div>
            <div class = "container picture pic6">
                <div class="overlay overlayUp">
                    <div class="text">Parcul Herastrau</div>
                </div>
            </div>
        </div>
</body>
</html>